dash==1.12.0
dash_core_components==1.10.0
dash_html_components==1.0.3
dash_renderer==1.4.1
dash_table==4.7.0
dash_bootstrap_components==0.10.0
plotly==4.7.1
flask==1.1.2
cloudant==2.13.0
requests==2.20.0
gunicorn==20.0.4